<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lifeshare">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".LifeShare"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppThemeReceiver"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|stateHidden" />
        <activity
            android:name=".ui.show_broadcast.AgoraShowStreamActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeReceiver"
            android:windowSoftInputMode="stateAlwaysVisible|stateHidden" />
        <activity
            android:name=".ui.BroadcastUsingAgoraActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|stateHidden" />
        <activity
            android:name=".ui.inviteFriends.InviteViaMobileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splashTheme" />
        <activity
            android:name=".ui.save_broadcast.ShowPreviousBroadcastAndChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splashTheme" />
        <activity
            android:name=".ui.select_connection.SelectConnectionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splashTheme" />
        <activity
            android:name=".ui.inviteFriends.ContactListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splashTheme" />
        <activity
            android:name=".ui.profile.ViewProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splashTheme" />
        <activity
            android:name=".ui.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splashTheme" />
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/splashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splashTheme" />
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splashTheme" />
        <activity android:name=".ui.TermOfServicesActivity" />
        <activity
            android:name=".ui.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splashTheme" />
        <activity
            android:name=".ui.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splashTheme" />
        <activity
            android:name=".ui.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splashTheme" />
        <activity
            android:name=".ui.my_connection.MyConnectionListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeReceiver" />
        <activity
            android:name=".ui.admin_user.ReportsUserListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeReceiver" />
        <activity
            android:name=".ui.admin_user.UserReportsDetailListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeReceiver" />
        <activity
            android:name=".ui.invitation.MyInvitationListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splashTheme" />
        <activity
            android:name=".ui.my_connection.AddMyConnectionListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeReceiver" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".agorahelper.capture.ScreenCapture$ScreenCaptureAssistantActivity"
            android:theme="@android:style/Theme.Translucent" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_ad_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver android:name=".receiver.AlarmReceiver">
            <intent-filter>
                <action android:name="REFRESH_THIS" />
            </intent-filter>
        </receiver>

        <service
            android:name=".customview.bubbleview.BubblesService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".receiver.ForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection"
            tools:targetApi="q" />
        <service
            android:name=".receiver.StreamingIntentService"
            android:enabled="true"
            android:exported="false" />
        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".utils.ScreenCapturerService"
            android:enabled="true"
            android:foregroundServiceType="mediaProjection"
            tools:targetApi="q" />
    </application>

</manifest>